/*---:root {
  --c-grey-100: #f4f6f8;
  --c-grey-200: #e3e3e3;
  --c-grey-300: #b2b2b2;
  --c-grey-400: #7b7b7b;
  --c-grey-500: #3d3d3d;
  --c-blue-500: #688afd;
}--*/





*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
}

section {
  padding: 160px 0% 120px;
}


body {
  margin: 0;
  background-color: #f0f1ec;
}

span{
  color: #b58333;
}


h1 {
  color: #000000;
  font-size: 5.625rem;
  font-family: 'Poppins', sans-serif;
}

h4 {
  font-size: 1em;
  text-align: center;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.35;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6, .heading {
    font-weight: 700;
}

h2 h3 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #000000;
  font-size: 4.5rem;
  line-height: 1.7;
}

h3 {
  color:#000000;
   font-size: 52px;
}


a{
  color: #000000;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

/*--Big Titles in each section--*/
.back-text{
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  top: 20%;
  font-size: 14vw;
  color: #aeaeae;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1;
  pointer-events: none;
  opacity: 0.2;
  white-space: nowrap;
  z-index: -1;
}

.about.active .back-text {
  transform: translate(0%, calc(50% - 10vh));
  opacity: 0.2;
}

/*--Animaton text in each section--*/
.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1.5s ease;
}

  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: #000000;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #000000;
		font-weight: 500;
	}
}

.section{
  position: relative;
}



.blockquote {
  padding: 113px 80px 40px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  background: #384f46; 
  z-index: -2;
  height: 700px;
}
.blockquote h2 {
  font-weight: 700px;
  margin-left: 70px;
  line-height: 1.6;
  color: #ffffff;
}
.blockquote:before {
  position: absolute;
  left: 1300px;
  content: open-quote;
  font-size: 350px;
  color: #ffffff;
  top: 0;
}

.blockquote .back-text{
  position: relative;
  top: 0;
}



/*------------------------------------------------------- navigation bar --------------------------------------------------*/
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0%;
}

.nav-container{
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 8%;
}

 nav .logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

nav ul {
  flex:1;
  text-align: right;
  padding-right: 30px;
}
nav .logo img{
  width: 60px;
  margin-right: 10px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 8px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  font-weight: 1000;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -5px;
  left: 50%;
  background: #ff2b00;
  transform: translateX(-50%);
  transition: width 0.3s;
}

nav ul li a:hover {
  transform: scale(1.1);
  background: var(--main-color);
  border: 2px solid var(--main-color);
  color: #ff2b00;
  font-weight: 1200;
}

nav ul li a:hover::after{
  width: 50%;
}

#nav-menu{
  font-size: 15px;
  color: var(--text-color);
  cursor: pointer;
}

.nav-btn{
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 9px 20px;
  background: transparent;
  border: 2px solid #ff2b00;
  border-radius: 30px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s ease;
}

  .nav-btn:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color: #ff2b00;
}

/*--------------------------------------------------------End navigation bar ---------------------------------------*/






/*------------------------------------------------------------ Header section------------------------------------------ */
/* background image */
.header {
  width: 100%;
  height: 97vh;
  background-image: url("../images/imagebg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  .header::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(180deg,#f3f7f400 84%,#f0f1ec 94%);
    opacity: 1;
  }

/* end background image*/
/*-----------------------------------------------------------------End Header section----------------------------------------------- */









/* ----------------------------------------------------------------- Hero Section----------------------------------------------- */
section#hero {
  padding: 30px;
}

.hero {
position: absolute;
bottom: 48%;
}

.hero-container{
  letter-spacing: 0.28rem;
  right: 53%;
  background-color: transparent;
  display: flex;
  align-items: flex-end; /* Add this line to align items to the bottom */
  margin-bottom: -58px;
}

.hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: #000;
}

#hero h1 {
  color:#000;
  line-height: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

#hero h3 {
  color:#BFDB38;
  line-height: 1.4em;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

#hero p{
  text-align: justify;
  font-size: 1.125rem;
  color:#000000;
  line-height: 2;
}


.hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 105%;
	width: 0;
	background-color: #d69551;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}

.typewritter{
  position: relative;
}

.typewritter::after{
  content: "|";
  position: absolute;
  right: 0;
  color: #cd8d41;
  background-color: #f2f3ee;
  width: 110%;
  animation: typing 2s steps(17) alternate infinite,
             cursor .6s step-end infinite alternate;
}

@keyframes typing{
  from {
    width: 0;
  }
}

@keyframes cursor{
  50% {
    border-color: transparent;
  }
}


.title-sub {
  position: absolute;
  font-size: 1rem;
  font-family: 'MonumentExtended', sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: .2em;
  column-gap: 2rem;
  text-align: left;
  border: none;
  background: none;
  width: 36%;
  display: flex;
  bottom: 17rem;
  left: 10rem;
}

.title-sub li {
  list-style: none;
}


.hero-underline-effect {
position: relative;
padding-bottom: 0.2rem;
display: inline-block;
}

.hero-underline-effect::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #FF5B00;
  display: block;
  transition: 0.5s ease-in-out;
  transition: width 0.3s ease-out;
}

.hero-underline-effect:hover::before{
  width: 100%;
  left: 0;
  right: auto;
  color: #FF5B00;
  font-weight: 600;
}

a.underline-hover-effect {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
.title-sub .hero-underline-effect:hover {
  color: #FF5B00; /* Update with desired hover color */
}


/* ------------------------------End Hero Section-------------------- */













/*----------------------------- mouse scroll ------------------------*/
.mouse-middle{
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%);
}

.mouse {
    background: #18251e linear-gradient(#7f9080 0%, #3e5042 25%, 
    #38483d 50%, #fdc36e 50%, #7b2820 100%);
    position: relative;
    width: 26px;
    height: 44px;
    border-radius: 100px;
    background-size: 100% 200%;
    animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}

  .mouse::before,
  .mouse::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      fill-opacity: 0;
  }

  .mouse::before {
      width: 19px;
      height: 37px;
      background-color: #15241f;
      border-radius: 100px;
      fill-opacity: 0;
  }

  .mouse::after {
      background-color: #ffffff;
      width: 4px;
      height: 5px;
      border-radius: 100%;
      animation: trackBallSlide 6s linear infinite;
  }

@keyframes colorSlide {
    0% {

        background-position: 0% 100%;
    }
    20% {
        background-position: 0% 0%;
    }
    21% {
        background-color: #4e5559;
    }
    29.99% {
        background-color: #2e2231;
        background-position: 0% 0%;
    }
    30% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }
    50% {
        background-position: 0% 0%;
    }
    51% {
        background-color: #4e5559;
    }
    59% {
        background-color: #2e2231;
        background-position: 0% 0%;
    }
    60% {
        background-color: #4e5559;
        background-position: 0% 0%;
    }
    80% {
        background-position: 0% 0%;
    }
    81% {
        background-color: #4e5559;
    }

    100% {
        background-color: #2e2231;
    }
}

@keyframes trackBallSlide {
    0% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
    }
    6% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }
    14% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }
    15%, 19% {
        opacity: 0;
        transform: scale(0.4) translateY(-10px);
    }
    28%,
    29.99% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
    }
    30% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
    }
    36% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }
    44% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }
    45%,
    49% {
        opacity: 0;
        transform: scale(0.4) translateY(-10px);
    }
    60% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
    }
    66% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }
    74% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }
    75%,
    79% {
        opacity: 0;
        transform: scale(0.4) translateY(-10px);
    }
    88%,
    100% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
    }
}

@keyframes nudgeMouse {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(8px);
    }
    30% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8px);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(8px);
    }
    90% {
        transform: translateY(0);
    }
}

/* --------------------------end mouse scroll -----------------*/













/*------------------------------- About Section------------------------- */


.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.image-text-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  gap: 2rem;
  min-height:10rem;
  left: 20%;
}

.image-text-container img {
  max-width: 220px;
}


.about-img{
  width: 250px;
}


.about-container {
  width: 100%;
  padding: 2rem 1.5rem 0;
  max-width: 665px;
  margin-left: 165px;
  
}

  .about-container p{
    text-align: justify;
    font-size: 1.2rem;
    color:#000000;
    line-height: 2;
  }

.scroll-image {
  width: 200px;
  height: auto;
  position: absolute;
  left: -200px;
  top: 60%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  filter: blur(15px);
}
  
  .scroll-image.active {
    left: calc(15% - 100px);
    filter: blur(0px);
  }

  .contact-info {
    display: table;
    height: 100%;
    padding-top: 5px;
  }

  .contact-info p {
    text-align: left;
  }
  
  
  .phone, .email {
    margin-bottom: 12px;
  }
  
  .phone p, .email p {
    margin: 0;
  }

.about-info {
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
  align-items: center; 
  width: 100%;
}

.about-info-btn {
  display: block;
  justify-content: center;
  margin: 25px auto;
  align-items: center; 
  left: 10rem;
  height: 70px;
}


.about-info-title,
.about-info-name{
  position: relative;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: right;
}

.about-info-title {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 6rem;
  font-weight: bold;
  margin-top: 20px;
}

.about-info-name{
  font-size: 1.2rem;
}

.about-top{
  position: relative;
  text-align: left;
  width: 50%;
  margin: 0 auto;
  line-height: 2;
}

.about-top h2{
  font-size: 52px;
}


.buttom_icon{
  font-size: 1.25rem;
  transition: .3s;
}

.btn,.button {
  padding: 10px 30px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  line-height: 1.8
}

.btn:disabled {
  opacity: 0.2;
  pointer-events: none
}

.btn span {
  position: relative;
  z-index: 1;
  color: #000;
}

.btn-sm {
  font-size: 11px;
  padding: 8px 20px
}

.btn-lg {
  font-size: 14px;
  padding: 15px 40px
}

.btn-wide {
  min-width: 200px
}

.btn-inline {
  margin: 0 10px
}

.btn:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 13px;
  --webkit-transform: translate3d(-5px, 0, 0);
  transform: translate3d(-5px, 0, 0);
  width: 14px;
  height: 11px;
  margin-top: -6px;
  display: block;
  background: url(https://icons.veryicon.com/png/o/commerce-shopping/online-retailers/arrow-right-33.png) no-repeat 50% 50%;
  background-size: 100% auto;
  --webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none
}

.btn:hover {
  padding-right: 60px;
  --webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  box-shadow: 0 10px 15px rgba(33, 33, 33, 0.2);
  padding-right: 40px;
}

.btn:hover:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s
}

.btn-default,.button {
  background-color: transparent;
  border-color: #fdc36e;
  color: #fff;
  left: 227px;
  top: 12px;
}

.btn-default:hover,.button:hover {
  background-color: #fdc36e;
  border-color: #fdc36e;
  color: #2a2f3f
}

.btn-default:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: --webkit-gradient(linear, left top, right top, from(#d69551), to(#fdc36e));
  background: linear-gradient(90deg, #d69551, #fdc36e);
  border-radius: 40px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.btn-default:hover:before {
  opacity: 1
}

.fade-in {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  animation: fadeIn 4s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------end About Section -------------------*/
















/*---------------------------Education section-----------------------*/

.top-section{
  text-align: center;
  padding: 0rem 0 5rem;
  margin: 0 auto;
}

.timeline-items{
  max-width: 1000px;
  margin:auto;
  display: absolute;
  position: relative;
}
  .timeline-items::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #9f732c;
    left: calc(0% + 3px);
    top: 2px;
    z-index: 1;
  }

  .timeline-new {
    width: 85%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 32px 0 32px 32px;
    font-size: 1.2rem;
  }
  
  .timeline-item-new {
    display: flex;
    gap: 61px;
  }
  .timeline-item-new + * {
    margin-top: 24px;
  }
  .timeline-item-new + .extra-space {
    margin-top: 70px;
  }
  
  .new-comment {
    width: 100%;
  }
  .new-comment input {
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    height: 48px;
    padding: 0 16px;
    width: 100%;
  }
  .new-comment input::-moz-placeholder {
    color: #b2b2b2;
  }
  .new-comment input:-ms-input-placeholder {
    color: #b2b2b2;
  }
  .new-comment input::placeholder {
    color: #b2b2b2;
  }
  .new-comment input:focus {
    border-color: #b2b2b2;
    outline: 0;
    box-shadow: 0 0 0 4px #f4f6f8;
  }
  
  .timeline-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -52px;
    flex-shrink: 0;
    overflow: hidden;
    box-shadow: 0 0 0 1.5px #b58333;
    z-index: 2;
  }
  .timeline-item-icon img {
    width: 60%
  }
  .timeline-item-icon.faded-icon {
    background-color: #f4f6f8;
    color: #7b7b7b;
  }
  .timeline-item-icon.filled-icon {
    background-color: #fff;
    color: #fff;
  }
  
  
  .timeline-item-new:hover .timeline-item-icon.filled-icon {
    background-color: #fdc36e;
    animation: tada 1s ease-in-out;
    box-shadow: 0 0 10px #fdc36e;
    transition: box-shadow 0.4s ease-in-out;
  }
  
  .timeline-item-new:hover summary {
    color: #fdc36e;
  }
  
  .timeline-item-description {
    display: flex;
    gap: 8px;
    list-style: none;
  }
  
  .timeline-item-description summary{
    font-size: 26px;
    color: #000000;
    margin:0 0 10px;
    user-select: none;
    cursor: pointer;
    outline: none;
    list-style: none;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .comment {
    margin-top: 12px;
    margin-right: 200px;
    background-color: #e1e1e1;
    color: #3d3d3d;
    border: 1px solid #e3e3e3;
    box-shadow: 0 4px 4px 0 #f4f6f8;
    border-radius: 6px;
    padding: 18px;
    font-size: 1rem;
  }
  
  .button {
    border: 0;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 38px;
    width: 29%;
    padding: 0 8px;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 99em;
  }
  .button:hover {
    background-color:#499142;
    width: 31%;
  }
  
  .button-career{
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  .button.square {
    border-radius: 50%;
    color: #7b7b7b;
    width: 32px;
    height: 32px;
    padding: 0;
  }
  .button.square svg {
    width: 24px;
    height: 24px;
  }
  .button.square:hover {
    background-color: #e3e3e3;
    color: #3d3d3d;
  }

  .button{
    padding: 10px 30px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    line-height: 1.8;
    
  }
  
    .button:hover{
      transition : 1521ms;
      background-color: #44963c;
      color: #ffffff;
      border: none;
    }
  
    .see-more-timeline-btn {
      top: 18px;
      left: 0;
      margin-bottom: 17px
  px
  ;
  }
/*---------------------------End Education section-----------------------*/















/*-------------------------- Skill section--------------------------*/

#skill{
  margin: 0;
  width: 100%;
  margin-top: 5%;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-skill {
  text-align: center;
  padding: 4rem 0;
  margin: 0 auto;
}

.skill-container{
  width: 1320px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-container .card{
position: relative;
background-color: #f0f1ec;
border-color: #f0f1ec00;
}

.skill-container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.skill-container .card .face.face1{
  position: relative;
  background: #2e2d2c;
  display: flex; 
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 1;
  transform:translateY(100px);
}
.skill-container .card:hover .face.face1{
  transform:translateY(0px);
  background-color: #fdc36e;  
  box-shadow: inset 0 0 60px #164935,
  inset 20px 0 80px #384f46,
  inset -20px 0 80px #8fc433,
  inset 20px 0 300px #384f46,
  inset -20px 0 300px #8fc433,
  0 0 50px #a4a4a4de,
  -10px 0 80px #384f46,
  10px 0 80px #8fc433;
}

.skill-container .card .face.face1 .box{
opacity: .5;
text-align: center;
transition: 0.5s;
width: 100%;
}

.skill-container .card:hover .face.face1 .box{
  opacity: 1;
}

.cskill-container .card .face.face1 .box img{
  font-size: 3em;
  display: inline-block;
  color: #fff;
}

.skill-container .card .face.face1 .box h4{
  color: #fff;
  margin-top: 10px;
}

.skill-container .card .face.face2{
  position: relative;
  background: #fff;
  display: flex; 
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform:translateY(-100px);
}

.skill-container .card:hover .face.face2{
  transform: translateY(0px);
}


.skill-container .card .face.face2 .box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skill-container .card .face.face2 .box ul li {
  margin-bottom: 4px;
  padding: 1px 13px;
  color: #000000;
}


  
.swiper-container {
  max-width: 1120px;
  width: 100%;
}

.slide-container {
  margin: 0 30px;
  overflow: hidden;
}

.slide-container .swiper-slide-active {
  opacity: 1;
}

.slide-container .swiper-slide-active .card:hover {
  transform: scale(1.3);
}

.swiper-slide {
  text-align: center;
  width: 100%;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #f0f1ec;
  border-radius: 8px;
  opacity: 0.5;
  transition: all 0.3s;
}

.card .image-box {
  height: 200px;
  overflow: hidden;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  transition: all 1.5s ease;
}

.card .image-box:hover img {
  transform: scale(1.3);
}

.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 11px;
}
.card .profile-details img {
  height: 43px;
  width: 43px;
  border-radius: 0;
}

.profile-details .project-details{
  padding: 10px;
}

.profile-details .project {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.profile-details .date {
  font-size: 13px;
  font-weight: 500;
  color: #4d4d4d;
  text-align: left;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color:#d69551;
}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}


.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullets {
  color: #000;
}

.see-more-btn {
  top: 80px;
  left: 44%;
  margin-bottom: 80px;
}

.swiper-pagination-bullet-active:hover, .swiper-button-prev:hover {
  border-color: red;
}

/*-------------------------- end Skill section--------------------------*/














/*-------------------------- Start Footer section--------------------------*/

footer *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer ul {
  list-style: none;
}

footer {
  color: #fff;
  background: #384f46;
  text-align: center;
}

footer p{
  color: #ccc;
  max-width: 25em;
  font-size: .9em;
  line-height: 23px;
  margin: 0 auto;
}

footer a{
  color: #fff;
  text-decoration: none;
  
}

footer h4{
  margin-bottom: 1em;
}

.brand {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 0;
}


footer .footer-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 2em 0em 5em;
}

.footer .menu li{
  display: inline-block;
  margin: .7em;
  text-align: left;
}


.footer .menu a {
 transition: 0.3s;
 font-weight: 600;
}


.footer .menu a:hover {
  color: #ff2b00;
 }

 .media-icons li{
  display: inline-block;
  margin: .5em .5em .5em 0;
 }

.media-icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px #fff solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.media-icons a:hover{
  background: #fff;
  color: #111;
}


.footer .media-icons {
  margin: 2em 0;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px 10px 0px;
}


.backtop {
  background-color: #384f46;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: .5s;
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  cursor: pointer;
}

.backtop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6em;
  color: #fff;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.backtop.active {
  visibility: visible;
  opacity: 1;
}
 


